{% extends "base.html" %}

{% block title %}Articles - {{ SITENAME }}{% endblock %}

<!-- Additional body class -->
{% block body_class %}archives{%endblock%}

{% block content %}
<div class="section">
    <div class="container">
        <div class="content entry-list">
        <div class="row">
                <div class="span12">
                    <div class="title">
                        <h2>Archives</h2>
                        <div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
                        <p></p>
                    </div>
                    {% for article in dates %}
                    <h3 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
                    <span class="entry-date">{{ article.locale_date }}</span>
                    <p>{{ article.summary }}</p>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div> 
</div>

{% endblock %}
