{% extends "base.html" %}

{% block top_nav %}
<li class="current"><a href="#home">Home</a></li>
<li><a href="#about">About</a></li>
<li><a href="#work">Work</a></li>
<li><a href="#articles">Articles</a></li>

{% endblock %}
{% block content %}
	<!-- Big Full screen Banner -->
	<div class="hero bg-fixed bg-color" id="home">

		<div class="slogan">
			<div  class="vcenter container">

				<div class="row">

					<div class="span12">
						<h1>It is never too late to be what you might have been</h1>
						<h5> - George Eliot</h5>
					</div>
				</div>
			</div>
		</div>


	</div>
	<!-- End Full screen banner  -->

	<!-- About Me section -->
	<div class="section section-alt" id="about">
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="span12">
						<div class="title">
							<h2>About Me</h2>
							<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
							<p>Collaboration Researcher @ GE Global Research.</p>

						</div>
						<p class="text-center">
							To be added.
						</p>
						<p class="text-center">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat, justo sed tincidunt iaculis, nisl enim rutrum dolor, in posuere purus risus vel quam. Quisque non feugiat erat. Mauris tristique id sem in blandit. Vestibulum pretium convallis orci. Suspendisse in aliquet leo. Donec ultricies fringilla augue, nec accumsan leo euismod et. Quisque non nisl non augue cursus rhoncus vel eget sem. Phasellus sed gravida nisi, ac lacinia dui. Aliquam pretium dapibus orci sed placerat. Nunc in condimentum massa, vitae consectetur ligula. Maecenas consequat in diam ut vulputate. Aenean vel ullamcorper elit.
						</p>
					</div>
				</div>
			</div>
		</div> 

	</div>
	<!-- End About Me -->

	<!-- Work Section -->
	<div class="section section-alt" id="work">
		<div class="container">
			<div class="content">
				<div class="row" >
					<div class="title">
						<h2>Work</h2>
						<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
						<p>I do research and development on collaboration and mobile solutions.</p>
					</div>
				</div>
				<div class="row">
					<div class="span4 i-block">
						<i class="icon-mobile-phone"></i>
						<h3>Block-A</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat, justo sed tincidunt iaculis, nisl enim rutrum dolor, in posuere purus risus vel quam</p>
					</div>
					<div class="span4 i-block">
						<i class="icon-star"></i>
						<h3>Block-B</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat, justo sed tincidunt iaculis, nisl enim rutrum dolor, in posuere purus risus vel quam</p>
					</div>
					<div class="span4 i-block">
						<i class="icon-thumbs-up-alt"></i>
						<h3>Block-C</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat, justo sed tincidunt iaculis, nisl enim rutrum dolor, in posuere purus risus vel quam</p>
					</div>
				</div>
				<div class="hr hr-invisible"></div>
				<div class="row">
					<div class="span4 i-block">
						<i class="icon-briefcase"></i>
						<h3>Block-D</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat, justo sed tincidunt iaculis, nisl enim rutrum dolor, in posuere purus risus vel quam</p>
					</div>
					<div class="span4 i-block">
						<i class="icon-camera"></i>
						<h3>Block-E</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat, justo sed tincidunt iaculis, nisl enim rutrum dolor, in posuere purus risus vel quam</p>
					</div>
					<div class="span4 i-block">
						<i class="icon-desktop"></i>
						<h3>Block-F</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat, justo sed tincidunt iaculis, nisl enim rutrum dolor, in posuere purus risus vel quam</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Work Section -->
	
	<!-- Articles Section -->
	<div class="section" id="articles" >
		<div class="container">
			<div class="content recent-articles">
				<div class="row">
					<div class="span12">
						<div class="title">
							<h2>Articles</h2>
							<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
							<p>On technologies, life, etc.</p>

						</div>
					</div>
				</div>
				{% for article in articles_page.object_list %}
				<div class="row">
					<div class="span12">
						<h3 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
						<span class="entry-date">{{ article.locale_date }}</span>
						<p>{{ article.summary }}</p>
					</div>
				</div>						
        		{% endfor %}
        		<div class="row">
					<div class="span12">
						<h3 class="entry-title"><a href="{{ SITEURL }}/archives.html">Read more...</a></h3>
					</div>
				</div>
			</div>
		</div> 
	</div>
	<!-- End Articles -->
{% endblock content %}