<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
	<title>{% block title %}{{ page.title }}{%endblock%}</title>
    
    <!-- Metas -->
    {% block metadata %}
    <meta charset="utf-8" />
    <meta name="author" content="{{ AUTHOR }}">
	
    {% for keyword in page.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  	{% endfor %}

	{% for description in page.description %}
	<meta name="description" contents="{{description}}" />
	{% endfor %}

	{% for tag in page.tags %}
	<meta name="tags" contents="{{tag}}" />
	{% endfor %}

    <meta name="HandheldFriendly" content="true">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	{%endblock%}

	<!-- Styles -->
	{% block styles %}
	<link rel="stylesheet" href="{{ SITEURL }}/theme/lib/reveal-js/css/reveal.min.css">
	<link rel="stylesheet" href="{{ SITEURL }}/theme/lib/reveal-js/css/theme/light-roast.css" id="theme">

	<!-- For syntax highlighting -->
	<link rel="stylesheet" href="{{ SITEURL }}/theme/lib/reveal-js/lib/css/zenburn.css">

	<!-- For icons -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

	<!-- If the query includes 'print-pdf', use the PDF print sheet -->
	<script>
		document.write( '<link rel="stylesheet" href="{{ SITEURL }}/theme/lib/reveal-js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
	</script>

	<!--[if lt IE 9]>
	<script src="lib/js/html5shiv.js"></script>
	<![endif]-->
	{% endblock %}

</head>

<body>
	<div class="reveal">
		<!-- Any section element inside of this container is displayed as a slide -->
		<div class="slides">
			{% block content %}
			{{ page.content }}
    		{% endblock %}
		</div>
	</div>
	
    <!-- Scripts -->
	{% block scripts %}
	<script src="{{ SITEURL }}/theme/lib/reveal-js/lib/js/head.min.js"></script>
	<script src="{{ SITEURL }}/theme/lib/reveal-js/js/reveal.min.js"></script>
	<script>
		// Full list of configuration options available here:
		// https://github.com/hakimel/reveal.js#configuration
		Reveal.initialize({
			controls: false,
			progress: true,
			history: true,
			center: true,

			theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
			transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

			// Optional libraries used to extend on reveal.js
			dependencies: [
				{ src: '{{ SITEURL }}/theme/lib/reveal-js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
				{ src: '{{ SITEURL }}/theme/lib/reveal-js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
				{ src: '{{ SITEURL }}/theme/lib/reveal-js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
				{ src: '{{ SITEURL }}/theme/lib/reveal-js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
				{ src: '{{ SITEURL }}/theme/lib/reveal-js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
				{ src: '{{ SITEURL }}/theme/lib/reveal-js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
				{ src: '{{ SITEURL }}/theme/lib/reveal-js/plugin/nav-control/nav-control.js', condition: function() { return !!document.body.classList; } }
			]
		});
	</script>
	{% endblock %}
</body>
</html>