{% extends "base.html" %}

{% block title %}Presentations - {{ SITENAME }}{% endblock %}

<!-- Additional body class -->
{% block body_class %}presentations{%endblock%}

{% block content %}
<div class="section">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="span12">
                    <div class="title">
                        <h2>Presentations</h2>
                        <div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
                        <p></p>
                    </div>
                    <div class="entry-list">
                        {% for page in pages|sort(reverse=True, attribute='date') if page.category == 'presentation' %}
                        <h3 class="entry-title"><a href="{{ SITEURL }}/{{ page.url }}" rel="bookmark" title="Permalink to {{ page.title|striptags }}">{{ page.title }}</a></h3>
                        <span class="entry-date">{{ page.locale_date }}</span>
                        <p></p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}
